* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', 'Helvetica', sans-serif;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100vh;
    /* background: #e3f9ff; */
    background: url(../images/math-bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator {
    background: #373f49;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 9px 16px 33px 6px rgba(32, 32, 32, 0.59);
}

.calculator .top {
    display: flex;
    justify-content: space-between;
}

.calculator .top .brand {
    color: #a9a9a9
}

.calculator .top .sunpower {
    background-color: #706868;
    width: 200px;
    height: 40px;
    border-radius: 5px;
}

.calculator form input {
    border: 0;
    outline: 0;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    box-shadow: -4px -4px 6px rgba(255, 255, 255, 0.1), 4px 4px 6px rgba(0, 0, 0, 0.2);
    background: transparent;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    margin: 10px;
}

form .display {
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
    background: #495461;
    border-radius: 5px;
}

form .display input {
    text-align: right;
    flex: 1;
    font-size: 45px;
    box-shadow: none;
    font-weight: bold;
}

form input.equal {
    width: 145px;
}

form input.operator {
    color: #33ffd8;
}